html, body {
  display: flex;
  margin: 0;
  padding: 0;
  background-image: url("assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#layer3Canvas {
  position: absolute;
  z-index:0;
  mix-blend-mode: multiply;
  filter: blur(10px);
}
#layer2Canvas {
  position: absolute;
  z-index:1;
  mix-blend-mode: multiply;
  filter: blur(5px);
}

#layer1Canvas {
  position: absolute;
  z-index:2;
  mix-blend-mode: multiply;
}

button {
  background: white;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 200px;
  height:50px;
  z-index:100;
}